<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.css">
    <title>Resources: Denver Freelancers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="css/resources.css">
  </head>
  <body>

    <h1>Resources</h1>
    <p>
      Check out these <a href="#website">website</a> and <a href="#book">book</a> recommendations from other freelancers.
      <br>
      <small><em>* Some of the websites and books use affiliate links to help raise money, you can support this project by clicking the links!</em></small>
    </p>
    <div id="main">
      <div class="resources">
        <h2 id="books">Books</h2>
        <div class="books" v-if="books">
          <div class="book" v-for="book in books" :href="book.link">
            <a :href="book.link" class="cover">
              <img :src="book.cover" :alt="book.title" v-if="book.cover">
            </a>
            <p>
              <strong>{{ book.title }}</strong>
            </p>
            <p class="desc">
              {{ book.description }}
              <br>
              <a :href="book.link" v-if="book.link">Buy on Amazon</a>
            </p>
          </div>
        </div>
        <p v-else>Loadings...</p>

        <h2 id="websites">Websites</h2>
        <ul class="websites" v-if="websites">
          <li class="site" v-for="website in websites" v-bind:style="{ listStyleImage: 'url(' + website.icon + ')' }">
            <p>
              <a :href="(website.referralLink) ? website.referralLink : website.link" target="_blank">{{ prettyLink( website.link ) }}</a>
              <br>
              {{ website.description }}
            </p>
          </li>
        </ul>
        <p v-else>Loadings...</p>
      </div>
    </div>

    <script>

    "use strict"

    Vue.component("day", {
      props: ["moon"],
      template: `

      `,
      data: function () {
        return {
          isSelected: false
        }
      },
      methods: {
      }
    });

    var app = new Vue({
      el: "#main",
      data: {
        workbook: {
          id: "123dFQ4bZVXNtrmD23_xZCVNJd1_MAvdVY_yISiJcBYY",
          sheets: {
            websites: 1,
            books: 2
          }
        },
        spreadsheet: [],
        cacheLifttime: 10000, //hours*60*60*1000
      },

      created: function () {
        this.getData();
      },

      methods: {
        getData: function () {
          for ( var i in this.workbook.sheets ) {
            var index = this.workbook.sheets[i];
            if ( ! this.getCache( this.workbook.id, index )) {
              this.fetchData( this.workbook.id, index );
            }
          }
        },
        fetchData: function ( id, index ) {
          var xhr = new XMLHttpRequest(),
              self = this,
              url = 'https://spreadsheets.google.com/feeds/list/' + id +  '/' + index + '/public/values?alt=json';
          xhr.open('GET', url )
          xhr.onload = function() {
            console.log('data loaded from xhr');
            self.putData( xhr.responseText, index );
            self.putCache( xhr.responseText, id, index );
          }
          xhr.send(null)
        },
        putData: function ( data, index) {
          this.$set(this.spreadsheet, index, JSON.parse( data ))
        },
        putCache: function ( data, id, index ) {
          var identity = id + index;
          window.localStorage.setItem( identity , data );
          console.log('data cached');
        },
        getCache: function ( id, index ) {
          var identity = id + index;
          if ( window.localStorage.getItem( identity ) && this.cacheIsFresh() ) {
            this.putData( window.localStorage.getItem( identity ), index )
            console.log('data loaded from cache');
            return true;
          }

          return false;

        },
        cacheIsFresh: function () {
          var now = new Date().getTime();
          var setupTime = localStorage.getItem('setupTime');
          if (setupTime == null) {
              localStorage.setItem('setupTime', now);
              return false; // cache is NOT fresh
          } else {
              if(now - setupTime > this.cacheLifttime) {
                  localStorage.clear()
                  localStorage.setItem('setupTime', now);
                  console.log('cache reset');
                  return false; // cache is NOT fresh
              }
              return true; // cache is fresh
          }
        },
        iconSrc: function ( url ) {
          return 'https://plus.google.com/_/favicon?domain=' + url;
        },
        stripHTTP: function ( url ) {
          var regex = new RegExp('(https?://(?:www.)?)','gi');
          return url.replace( regex, '' )
        },
        stripSlash: function ( str ) {
          return str.replace(/\/$/, "");
        },
        prettyLink: function ( url ) {
          return this.stripSlash( this.stripHTTP( url ) );
        },
        amazonASIN: function ( link ) {
          if ( ! link ) return null;

          var rx = new RegExp('(?:[/dp/]|$)([A-Z0-9]{10})','g');
          // var rx = new RegExp('http://www.amazon.com/([\\w-]+/)?(dp|gp/product)/(\\w+/)?(\\w{10})','g');
          var arr = rx.exec( link );
          return arr[1];
        },
        amazonAffiliateLink: function ( link ) {
          if ( ! link ) return null;

          var id = 'drewinganddoi-20';
          if ( link.lastIndexOf('?') > 0) link = link.substring(0, link.lastIndexOf('?'));
          if ( link.lastIndexOf('/') > 0) link = link.substring(0, link.lastIndexOf('/'));
          link = this.stripSlash( link );
          return link + '/?tag=' + id;
        },
        amazonImageSrc: function ( link ) {
          if ( ! link ) return null;

          var size = [
          'THUMBZZZ',
          'MZZZZZZZ',
          'LZZZZZZZ'
          ];

          return 'http://images.amazon.com/images/P/' + this.amazonASIN( link ) + '.01.' + size[1] + '.jpg';
        },
        gsxRowObject: function ( index, action ) {
          if ( this.spreadsheet[index] === undefined ) return false;
          var out  = [],
              rows = this.spreadsheet[index].feed.entry,
              self = this;

          for (var i = 0; i < rows.length; i++) {
            out.push( action( rows[i], self ));
          }

          return out;
        },
        gsxGetCol: function ( row, col ) {
          var cell = row['gsx$' + col];
          return ( cell && cell.$t ) ? cell.$t : null ;
        }
      },

      watch: {
      },

      computed: {
        websites: function () {
          return this.gsxRowObject( this.workbook.sheets.websites , function (r,self) {
              return { //@TODO autmatically return
                link: self.gsxGetCol( r, 'link'),
                referralLink: self.gsxGetCol( r, 'referrallink'),
                description: self.gsxGetCol( r, 'description'),
                icon: self.iconSrc( self.gsxGetCol( r, 'link') )
              }
            });
        },
        books : function () {
          return this.gsxRowObject( this.workbook.sheets.books , function (r,self) {
            var link = self.gsxGetCol( r, 'amazonlink' );
            return { //@TODO autmatically return
              link: self.amazonAffiliateLink( link ),
              cover: self.amazonImageSrc( link ),
              title: self.gsxGetCol( r, 'title' ),
              description: self.gsxGetCol( r, 'description' )
            }
          });
        }
      },
    });


    </script>
  </body>
</html>
