<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.css">
    <title>Resources: Denver Freelancers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="css/resources.css">
  </head>
  <body>
    <nav><small><a href="/">Home</a></small></nav>
    <h1>Resources</h1>
    <p>
      Check out these <a href="#website">website</a> and <a href="#book">book</a> recommendations from other freelancers.
    </p>
    <p class="hug note">
      * Some of the websites and books use affiliate links to help raise money, you can support this project by clicking the links! Also, content on this page is publically editable, if you see something amiss please <a href="mailto:hello@denverfreelancing.com">email us</a>
    </p>
    <div id="main">
      <div class="resources">
        <h2 id="books">Books</h2>
        <div class="books" v-if="books">
          <div class="book" v-for="book in books" :href="book.link">
            <a :href="book.link" class="cover">
              <img :src="book.cover" :alt="book.title" v-if="book.cover">
            </a>
            <p>
              <strong>{{ book.title }}</strong>
            </p>
            <p class="desc">
              {{ book.description }}
              <br>
              <a :href="book.link" v-if="book.link">Buy on Amazon</a>
            </p>
          </div>
        </div>
        <p v-else>Loadings...</p>

        <div class="callout">
          <p>
            <strong>Got more resources?</strong>
            Resources on this page come from a public Google Spreadsheet, feel free to add or edit!
          </p>
          <p>
            <a :href="workbookEditURL" class="button">View Spreadsheet</a>
          </p>
        </div>

        <h2 id="websites">Websites</h2>
        <ul class="websites" v-if="websites">
          <li class="site" v-for="website in websites" v-bind:style="{ listStyleImage: 'url(' + website.icon + ')' }">
            <p>
              <a :href="website.link" target="_blank">{{ prettyLink( website.link ) }}</a>
              <br>
              {{ website.description }} <small v-if="website.referralLink">[<a :href="website.referralLink">Referral Link</a>]</small>
            </p>
          </li>
        </ul>
        <p v-else>Loadings...</p>
      </div>
    </div>

    <section id="mailing">
      <h2>💌 Join our mailling list</h2>
      <p>We'll send you the low down on upcoming events! Feel free to add more info about what kind of work you do so we can invite you to industry specific events.</p>
      <p><a href="https://us19.campaign-archive.com/home/?u=97afb037a144713094675ad46&id=dcfadf78b1" title="View previous campaigns">View previous campaigns.</a></p>
      <div class="mail-signup">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="https://facebook.us19.list-manage.com/subscribe/post?u=97afb037a144713094675ad46&amp;id=dcfadf78b1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <p class="indicates-required grid-full"><span class="asterisk">*</span> <small>indicates required</small></p>
            <div id="mc_embed_signup_scroll" class="form-body">

        <div class="mc-field-group grid-full">
        	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
        	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>

        <div class="grid-full">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> <small>Or fill out more info...</small>
        </div>

        <div class="mc-field-group grid-half">
        	<label for="mce-FNAME">First Name </label>
        	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>

        <div class="mc-field-group grid-half">
        	<label for="mce-LNAME">Last Name </label>
        	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>

        <div class="mc-field-group size1of2 grid-half">
        	<label for="mce-PHONE">Phone Number </label>
        	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
        </div>

        <div class="mc-field-group size1of2 grid-half">
        	<label for="mce-BIRTHDAY-month">Birthday </label>
        	<div class="datefield">
        		<span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="3" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
        		<span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="3" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
        		<span class="small-meta nowrap">( mm / dd )</span>
        	</div>
        </div>

        <div class="mc-field-group input-group grid-half">
            <strong>What are you interested in? </strong>
            <ul><li><input type="checkbox" value="1" name="group[895][1]" id="mce-group[895]-895-0"><label for="mce-group[895]-895-0">Shared Gigs</label></li>
        <li><input type="checkbox" value="2" name="group[895][2]" id="mce-group[895]-895-1"><label for="mce-group[895]-895-1">Shared resources &amp; equipment</label></li>
        <li><input type="checkbox" value="4" name="group[895][4]" id="mce-group[895]-895-2"><label for="mce-group[895]-895-2">Community Building</label></li>
        <li><input type="checkbox" value="8" name="group[895][8]" id="mce-group[895]-895-3"><label for="mce-group[895]-895-3">Freelancer Policy</label></li>
        </ul>
        </div>
        <div class="mc-field-group input-group grid-half">
            <strong>What kind of freelance work do you do? </strong>
            <ul>
              <li><input type="checkbox" value="16" name="group[899][16]" id="mce-group[899]-899-0"><label for="mce-group[899]-899-0">Photography</label></li>
              <li><input type="checkbox" value="32" name="group[899][32]" id="mce-group[899]-899-1"><label for="mce-group[899]-899-1">Design</label></li>
              <li><input type="checkbox" value="64" name="group[899][64]" id="mce-group[899]-899-2"><label for="mce-group[899]-899-2">Video</label></li>
              <li><input type="checkbox" value="128" name="group[899][128]" id="mce-group[899]-899-3"><label for="mce-group[899]-899-3">Social Media</label></li>
              <li><input type="checkbox" value="256" name="group[899][256]" id="mce-group[899]-899-4"><label for="mce-group[899]-899-4">Copywriting</label></li>
              <li><input type="checkbox" value="512" name="group[899][512]" id="mce-group[899]-899-5"><label for="mce-group[899]-899-5">Consulting</label></li>
              <li><input type="checkbox" value="1024" name="group[899][1024]" id="mce-group[899]-899-6"><label for="mce-group[899]-899-6">Data</label></li>
              <li><input type="checkbox" value="2048" name="group[899][2048]" id="mce-group[899]-899-7"><label for="mce-group[899]-899-7">Marketing/PR</label></li>
              <li><input type="checkbox" value="4096" name="group[899][4096]" id="mce-group[899]-899-8"><label for="mce-group[899]-899-8">Web Design/Development</label></li>
              <li><input type="checkbox" value="8192" name="group[899][8192]" id="mce-group[899]-899-9"><label for="mce-group[899]-899-9">Accounting/Bookkeeping</label></li>
              <li><input type="checkbox" value="16384" name="group[899][16384]" id="mce-group[899]-899-10"><label for="mce-group[899]-899-10">Other</label></li>
            </ul>
          </div>

        	<div id="mce-responses" class="clear grid-full">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        	</div>

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_97afb037a144713094675ad46_dcfadf78b1" tabindex="-1" value="">
            </div>
            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </section>

    <section id="contact">
      <h1>👋 Get in touch!</h1>
      <p class="lead">We are real people just like you, feel free to reach out.</p>
      <p class="lead"><a href="mailto:hello@denverfreelancing.com" class="button">Email us</a></p>
      <p>hello@denverfreelancing.com</p>
    </section>

    <script>

    "use strict"

    var app = new Vue({
      el: "#main",
      data: {
        workbook: {
          id: "123dFQ4bZVXNtrmD23_xZCVNJd1_MAvdVY_yISiJcBYY",
          sheets: {
            websites: 1,
            books: 2
          }
        },
        spreadsheet: [],
        cacheLifttime: 1*60*60*1000, //hours*60*60*1000
      },

      created: function () {
        this.getData();
      },

      methods: {
        getData: function () {
          for ( var i in this.workbook.sheets ) {
            var index = this.workbook.sheets[i];
            if ( ! this.getCache( this.workbook.id, index )) {
              this.fetchData( this.workbook.id, index );
            }
          }
        },
        fetchData: function ( id, index ) {
          var xhr = new XMLHttpRequest(),
              self = this,
              url = 'https://spreadsheets.google.com/feeds/list/' + id +  '/' + index + '/public/values?alt=json';
          xhr.open('GET', url )
          xhr.onload = function() {
            console.log('data loaded from xhr');
            self.putData( xhr.responseText, index );
            self.putCache( xhr.responseText, id, index );
          }
          xhr.send(null)
        },
        putData: function ( data, index) {
          this.$set(this.spreadsheet, index, JSON.parse( data ))
        },
        putCache: function ( data, id, index ) {
          var identity = id + index;
          window.localStorage.setItem( identity , data );
          console.log('data cached');
        },
        getCache: function ( id, index ) {
          var identity = id + index;
          if ( window.localStorage.getItem( identity ) && this.cacheIsFresh() ) {
            this.putData( window.localStorage.getItem( identity ), index )
            console.log('data loaded from cache');
            return true;
          }

          return false;

        },
        cacheIsFresh: function () {
          var now = new Date().getTime();
          var setupTime = localStorage.getItem('setupTime');
          if (setupTime == null) {
              localStorage.setItem('setupTime', now);
              return false; // cache is NOT fresh
          } else {
              if(now - setupTime > this.cacheLifttime) {
                  localStorage.clear()
                  localStorage.setItem('setupTime', now);
                  console.log('cache reset');
                  return false; // cache is NOT fresh
              }
              return true; // cache is fresh
          }
        },
        iconSrc: function ( url ) {
          return 'https://plus.google.com/_/favicon?domain=' + url;
        },
        stripHTTP: function ( url ) {
          var regex = new RegExp('(https?://(?:www.)?)','gi');
          return url.replace( regex, '' )
        },
        stripSlash: function ( str ) {
          return str.replace(/\/$/, "");
        },
        prettyLink: function ( url ) {
          return this.stripSlash( this.stripHTTP( url ) );
        },
        amazonASIN: function ( link ) {
          if ( ! link ) return null;

          var rx = new RegExp('(?:[/dp/]|$)([A-Z0-9]{10})','g');
          // var rx = new RegExp('http://www.amazon.com/([\\w-]+/)?(dp|gp/product)/(\\w+/)?(\\w{10})','g');
          var arr = rx.exec( link );
          return arr[1];
        },
        amazonAffiliateLink: function ( link ) {
          if ( ! link ) return null;

          var id = 'drewinganddoi-20';
          if ( link.lastIndexOf('?') > 0) link = link.substring(0, link.lastIndexOf('?'));
          if ( link.lastIndexOf('/') > 0) link = link.substring(0, link.lastIndexOf('/'));
          link = this.stripSlash( link );
          return link + '/?tag=' + id;
        },
        amazonImageSrc: function ( link ) {
          if ( ! link ) return null;

          var size = [
          'THUMBZZZ',
          'MZZZZZZZ',
          'LZZZZZZZ'
          ];

          return 'http://images.amazon.com/images/P/' + this.amazonASIN( link ) + '.01.' + size[1] + '.jpg';
        },
        gsxRowObject: function ( index, action ) {
          if ( this.spreadsheet[index] === undefined ) return false;
          var out  = [],
              rows = this.spreadsheet[index].feed.entry,
              self = this;

          for (var i = 0; i < rows.length; i++) {
            out.push( action( rows[i], self ));
          }

          return out;
        },
        gsxGetCol: function ( row, col ) {
          var cell = row['gsx$' + col];
          return ( cell && cell.$t ) ? cell.$t : null ;
        }
      },

      watch: {
      },

      computed: {
        workbookEditURL: function () {
          return 'https://docs.google.com/spreadsheets/d/' + this.workbook.id + '/edit';
        },
        websites: function () {
          return this.gsxRowObject( this.workbook.sheets.websites , function (r,self) {
              return { //@TODO autmatically return
                link: self.gsxGetCol( r, 'link'),
                referralLink: self.gsxGetCol( r, 'referrallink'),
                description: self.gsxGetCol( r, 'description'),
                icon: self.iconSrc( self.gsxGetCol( r, 'link') )
              }
            });
        },
        books : function () {
          return this.gsxRowObject( this.workbook.sheets.books , function (r,self) {
            var link = self.gsxGetCol( r, 'amazonlink' );
            return { //@TODO autmatically return
              link: self.amazonAffiliateLink( link ),
              cover: self.amazonImageSrc( link ),
              title: self.gsxGetCol( r, 'title' ),
              description: self.gsxGetCol( r, 'description' )
            }
          });
        }
      },
    });


    </script>
  </body>
</html>
