<section>
  <h2 class="display-4 text-center font-weight-bold my-5">
    <i class="fas fa-calendar-alt mb-3"></i>
    <br>
    Events
  </h2>
  {% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
  <div class="row wow fadeIn">
  {% assign events = (site.events | sort: 'date') | reverse %}
  {% for event in events %}
    {% capture date %}{{event.date | date: '%s' | plus: 0 %}}{% endcapture %}
  <div class="col-md-6{% if date < now %} event--past{% endif %}">
    {% if date < now %}<span class="badge badge-secondary float-right">Past</span>{% endif %}
    <h2 class="mb-3">
      {{ event.title }}
    </h2>
    <p class="lead">
      <strong>When:</strong> {{ event.date | date: "%A, %B %e"}} {{ event.time.start }} to {{ event.time.end }}
    </p>
    <p class="lead">
      <strong>Location:</strong> {{ event.location }}
    </p>
    <p>
      {{ events.content | markdownify }}
    </p>
    <p class="">
      {% if date < now %}
        {% if event.followup %}
        <button type="button" class="btn btn-secondary">
          <a class="white-text" role="button" target="_blank"
             href="{{ event.followup }}">
            Read Recap
          </a>
        </button>
        {% endif %}
      {% else %}
        {% for rsvp in event.rsvp %}
          {% if rsvp[0] == 'facebook' %}
            {% assign class = "btn-primary" %}
          {% elsif rsvp[0] == 'meetup' %}
            {% assign class = "btn-danger" %}
          {% endif %}
        <button type="button" class="btn {{ class }}">
          <a class="white-text" role="button" target="_blank"
             href="{{ rsvp[1] }}">
             <i class="fab fa-{{ rsvp[0] }}"></i>
            RSVP on {{ rsvp[0] | capitalize }}
          </a>
        </button>
        {% endfor %}
      {% endif %}
    </p>
  </div><!-- .col-*-->
  {% endfor %}

  </div><!-- .row -->
</section>
