---
title: Directory
layout: false
permalink: /directory/
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96951579-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-96951579-3');
    </script>

    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.css">
    <title>Directory: Denver Freelancers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style media="screen">
      .directory {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1em;
      }

      .person {
        border: 1px solid #eee;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .connect {
        padding-bottom: .75rem;
      }

      .person:hover {
        border-color: #00d1b2;
      }

      .person label {
        font-weight: bold;
        font-size: 0.7em;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .person .links .label {
        display: none;
      }
    </style>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Freelancers Directory
          </h1>
          <h2 class="subtitle">
            Welcome to a directory of Freelancers in the Denver area. If you would like to appear on this directory please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScqYNJ6BBmYML2uZWs02i64KZdRmQg7kBkFRALHa5H3zs2ewA/viewform" target="_blank">this form</a>.
          </h2>
        </div>
      </div>
      <div class="hero-foot">

      </div>
    </section>

    <section class="section">
      <div id="main" class="container is-fluid">
        <p class="has-text-right">
          <a class="button is-primary is-pulled-left" href="/directory/join.html">List yourself</a>
          <button class="button" @click="filter.skills = {}" v-show="Object.keys(filter.skills).length > 0">Clear</button>
          <button class="button" @click="showTags = ! showTags">(( (showTags) ? "Hide" : "Show" )) Tags</button>
        </p>
        <br>
        <div class="field is-grouped is-grouped-multiline" v-if="showTags">
          <div class="control" v-for="skill in skillsSorted">
            <a class="tags has-addons" @click="toggleFilter('skills', skill )">
              <div class="tag" :class="{ 'is-primary': skill.slug in filter.skills }">(( skill.label ))</div>
              <div class="tag is-info" v-if="skill.count > 1">(( skill.count ))</div>
            </a>
          </div>
        </div>

        <div class="directory" v-if="people">
          <div class="card person" v-for="(person, index) in people" v-show="person.filtered()">
            <div class="card-content">
              <div class="content">
                <p class="title is-4">(( person.name ))</p>
                <p class="subtitle is-6">
                  (( person.trade ))
                </p>
                <div class="connect">
                  <template v-if="person.primarySite()">
                    <a :href="person.primarySite().url" target="_blank"><span class="icon"><i :class="person.primarySite().icon"></i></span> (( person.primarySite().label ))</a>
                  </template>
                  <a :href="'mailto:' + person.email" v-if="person.email"><span class="icon"><i class="fas fa-envelope"></i></span> Email</a>
                  <a :href="'tel:' + person.phone" v-if="person.phone"><span class="icon"><i class="fas fa-phone"></i></span> Call</a>
                </div>
                <p v-if="person.location"><label>Location</label><br> (( person.location ))</p>
                <p v-if="person.cosmic"><label>Cosmic Task</label><br> (( person.cosmic ))</p>
                <template v-if="person.skills">
                  <p><label>Skills</label></p>
                  <div class="skills tags">
                    <span class="tag"
                          :class="{ 'is-primary': skill.slug in filter.skills }"
                          :data-skill="skill.slug"
                          v-for="(skill, index) in person.skills"
                          @click="toggleFilter('skills', skill )">(( skill.label ))</span>
                  </div>
                </template>
              </div>
            </div>
            <website-links :links="person.links"></website-links>
          </div>
        </div>
      </div>
    </section>

    <script>

    "use strict"

    Vue.component('website-links', {
      props: ['links'],
      data: function () {
        return {
          count: 0
        }
      },
      template: '<footer class="card-footer links"><a :href="link.url" class="card-footer-item" v-for="link in links" v-if="link.url" target="_blank" :title="link.label"><span class="icon"><i :class="link.icon"></i></span> <span class="label">(( link.label ))</span></a></footer>'
    })

    var app = new Vue({
      delimiters: ["((", "))"],
      el: "#main",
      data: {
        showTags: false,
        workbook: {
          id: "1RlKTMMJpDSly_VPH8da4iy1U2E_YJMmDWJxv0UG2Y0Q",
          sheets: {
            directory: 1,
          }
        },
        filter: {
          skills: {}
        },
        spreadsheet: [],
        cacheLifttime: 48*60*60*1000, //hours*60*60*1000
      },

      created: function () {
        this.getData();
      },

      methods: {
        getData: function () {
          for ( var i in this.workbook.sheets ) {
            var index = this.workbook.sheets[i];
            if ( ! this.getCache( this.workbook.id, index )) {
              this.fetchData( this.workbook.id, index );
            }
          }
        },
        fetchData: function ( id, index ) {
          var xhr = new XMLHttpRequest(),
              self = this,
              url = 'https://spreadsheets.google.com/feeds/list/' + id +  '/' + index + '/public/values?alt=json';
          xhr.open('GET', url )
          xhr.onload = function() {
            console.log('data loaded from xhr');
            self.putData( xhr.responseText, index );
            self.putCache( xhr.responseText, id, index );
          }
          xhr.send(null)
        },
        putData: function ( data, index) {
          this.$set(this.spreadsheet, index, JSON.parse( data ))
        },
        putCache: function ( data, id, index ) {
          var identity = id + index;
          window.localStorage.setItem( identity , data );
          console.log('data cached');
        },
        getCache: function ( id, index ) {
          var identity = id + index;
          if ( window.localStorage.getItem( identity ) && this.cacheIsFresh() ) {
            this.putData( window.localStorage.getItem( identity ), index )
            console.log('data loaded from cache');
            return true;
          }

          return false;

        },
        cacheIsFresh: function () {
          var now = new Date().getTime();
          var setupTime = localStorage.getItem('setupTime');
          if (setupTime == null) {
              localStorage.setItem('setupTime', now);
              return false; // cache is NOT fresh
          } else {
              if(now - setupTime > this.cacheLifttime) {
                  localStorage.clear()
                  localStorage.setItem('setupTime', now);
                  console.log('cache reset');
                  return false; // cache is NOT fresh
              }
              return true; // cache is fresh
          }
        },
        iconSrc: function ( url ) {
          return 'https://plus.google.com/_/favicon?domain=' + url;
        },
        stripHTTP: function ( url ) {
          var regex = new RegExp('(https?://(?:www.)?)','gi');
          return url.replace( regex, '' )
        },
        stripSlash: function ( str ) {
          return str.replace(/\/$/, "");
        },
        prettyLink: function ( url ) {
          return this.stripSlash( this.stripHTTP( url ) );
        },
        sanitizeLink: function ( url ) {

          return (url) ? '//' + this.prettyLink( url ) : url ;
        },
        gsxRowObject: function ( index, action ) {
          if ( this.spreadsheet[index] === undefined ) return false;
          var out  = [],
              rows = this.spreadsheet[index].feed.entry,
              self = this;

          for (var i = 0; i < rows.length; i++) {
            out.push( action( rows[i], self ));
          }

          return out;
        },
        gsxGetCol: function ( row, col ) {
          var cell = row['gsx$' + col];
          return ( cell && cell.$t ) ? cell.$t : null ;
        },
        toggleFilter: function ( subject, item ) {
          var filter = this.filter[subject];
          if ( filter[item.slug] ) {
            this.$delete(filter, item.slug)
          } else {
            this.$set(filter, item.slug, item)
          }
        }

      },

      watch: {
      },

      computed: {
        workbookEditURL: function () {
          return 'https://docs.google.com/spreadsheets/d/' + this.workbook.id + '/edit';
        },
        people: function () {
          return this.gsxRowObject( this.workbook.sheets.directory , function (r,self) {
                var firstname = self.gsxGetCol( r, 'name'),
                    lastname = self.gsxGetCol( r, 'lastname'),
                    fullname = (lastname) ? firstname + ' ' + lastname : firstname,
                    skills = self.gsxGetCol( r, 'otherskills');

                    if ( null !== skills ) {
                      skills = skills.trim().replace(/,+\s*$/, '').split(',').map( skill => (
                      {
                        label: skill.trim(),
                        slug: slugify(skill)
                      }) );
                    };

              return { //@TODO autmatically return
                filtered: function () {
                  // if the filter is empty show
                  if ( Object.keys(self.filter.skills).length == 0 ) return true;

                  for (var i in this.skills) {
                    if (this.skills[i].slug in self.filter.skills) {
                      return true
                    }
                  }
                  return false
                },
                name:     fullname,
                email:    self.gsxGetCol( r, 'emailaddress'),
                location: self.gsxGetCol( r, 'location'),
                phone:    self.gsxGetCol( r, 'publicphonenumber'),
                cosmic:   self.gsxGetCol( r, 'cosmictask'),
                trade:    self.gsxGetCol( r, 'primarytrade'),
                skills:   skills,
                links: {
                  website:  {
                    url: self.sanitizeLink( self.gsxGetCol( r, 'personalwebsite') ),
                    label: 'website',
                    icon: 'fas fa-home'
                  },
                  linkedin: {
                    url: self.sanitizeLink( self.gsxGetCol( r, 'linkedin') ),
                    label: 'linkedin',
                    icon: 'fab fa-linkedin'
                  },
                  facebook: {
                    url: self.sanitizeLink( self.gsxGetCol( r, 'facebook') ),
                    label: 'facebook',
                    icon: 'fab fa-facebook'
                  },
                  twitter:  {
                    url: self.sanitizeLink( self.gsxGetCol( r, 'twitter') ),
                    label: 'twitter',
                    icon: 'fab fa-twitter'
                  },
                  other:    {
                    url: self.sanitizeLink( self.gsxGetCol( r, 'other') ),
                    label: 'other',
                    icon: 'fas fa-globe-americas'
                  }
                },
                primarySite: function () {
                  var link = this.links;
                  if ( link.website.url ) return link.website;
                  if ( link.linkedin.url ) return link.linkedin;
                  if ( link.twitter.url ) return link.twitter;
                  if ( link.facebook.url ) return link.facebook;
                  return false;
                }
              }
            });
        },
        skills: function () {
          var tags = {};
          this.people.forEach( function(p) {
            if ( p.skills ) {
              p.skills.forEach( function(s) {
                if ( tags.hasOwnProperty( s.slug ) ) {
                  tags[s.slug].count++;
                } else {
                  tags[s.slug] = {
                    label: s.label,
                    slug: s.slug,
                    count: 1
                  }
                }
              });
            }
          });
          return tags;
        },
        skillsSorted: function () {
          var out = {},
              data = this.skills;

          Object.keys(data)
                .sort()
                .forEach(function(v, i) {
                    out[v] = data[v];
                 });

          return out;
        }
      },
    });

    function slugify(text){
      return text.toString().toLowerCase().trim()
        .replace(/[^\w\s-]/g, '') // remove non-word [a-z0-9_], non-whitespace, non-hyphen characters
        .replace(/[\s_-]+/g, '_') // swap any length of whitespace, underscore, hyphen characters with a single _
        .replace(/^-+|-+$/g, ''); // remove leading, trailing -
    }

    </script>
  </body>
</html>
