---
title: Directory
layout: directory
permalink: /directory/
---
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Freelancers Directory
          </h1>
          <h2 class="subtitle">
            Welcome to a directory of Freelancers in the Denver area. If you would like to appear on this directory please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScqYNJ6BBmYML2uZWs02i64KZdRmQg7kBkFRALHa5H3zs2ewA/viewform" target="_blank">this form</a>.
          </h2>
        </div>
      </div>
      <div class="hero-foot">

      </div>
    </section>

    <section class="section">
      <div id="main" class="container is-fluid">
        <p class="has-text-right">
          <a class="button is-primary is-pulled-left" href="/directory/join.html">List yourself</a>
          <button class="button" @click="filter.skills = {}" v-show="Object.keys(filter.skills).length > 0">Clear</button>
          <button class="button" @click="showTags = ! showTags">(( (showTags) ? "Hide" : "Show" )) Tags</button>
        </p>
        <br>
        <div class="field is-grouped is-grouped-multiline" v-if="showTags">
          <div class="control" v-for="skill in skillsSorted">
            <a class="tags has-addons" @click="toggleFilter('skills', skill )">
              <div class="tag" :class="{ 'is-primary': skill.slug in filter.skills }">(( skill.label ))</div>
              <div class="tag is-info" v-if="skill.count > 1">(( skill.count ))</div>
            </a>
          </div>
        </div>

        <div class="directory" v-if="people">
          <div class="card person" v-for="(person, index) in people" v-show="person.filtered()">
            <div class="card-content">
              <div class="content">
                <p class="title is-4">(( person.name ))</p>
                <p class="subtitle is-6 has-text-weight-bold">
                  (( person.trade ))
                </p>
                <div class="connect">
                  <template v-if="person.primarySite()">
                    <a :href="person.primarySite().url" target="_blank"><span class="icon"><i :class="person.primarySite().icon"></i></span> (( person.primarySite().label ))</a>
                  </template>
                </div>
                <p class="person__location" v-if="person.location"><label>Location</label> (( person.location ))</p>
                <p v-if="person.cosmic"><label>Cosmic Task</label><br> (( person.cosmic ))</p>
                <template v-if="person.skills">
                  <p><label>Skills</label></p>
                  <div class="skills tags">
                    <span class="tag"
                          :class="{ 'is-primary': skill.slug in filter.skills }"
                          :data-skill="skill.slug"
                          v-for="(skill, index) in person.skills"
                          @click="toggleFilter('skills', skill )">(( skill.label ))</span>
                  </div>
                </template>
              </div>
            </div>
            <website-links :links="person.links"></website-links>
          </div>
        </div>
      </div>
    </section>
