---
title: Directory
layout: directory
permalink: /directory/
---
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Freelancers Directory
          </h1>
          <a class="button is-warning is-pulled-right" href="/directory/join.html">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
            &nbsp;
            List yourself
          </a>
          <h2 class="subtitle">
            Welcome to a directory of Freelancers in the Denver area.
          </h2>
        </div>
      </div>
      <div class="hero-foot">

      </div>
    </section>

    <section class="section">
      <div id="main" class="container is-fluid" v-if="loaded">

        <a class="button is-link is-pulled-right" href="{{ site.links.openCollective }}" target="_blank">
          <span class="icon is-small">
            <i class="fas fa-dollar-sign"></i>
          </span>
          &nbsp;
          Support
        </a>

        <p class="title">
          What are you looking for?
        </p>

        <div class="field is-grouped is-grouped-multiline">
          <div class="control" v-for="skill in filteredSkills.top">
            <a class="tags has-addons" @click="toggleFilter('skills', skill )">
              <div class="tag is-large" :class="{ 'is-primary': skill.slug in filter.skills }">(( skill.label ))</div>
              <div class="tag is-info is-large" v-if="skill.count > 1">(( skill.count ))</div>
            </a>
          </div>
        </div>


        <p>
          <button class="button" @click="showTags = ! showTags">(( (showTags) ? "Hide" : "Show" )) More Tags</button>
          <button class="button" @click="filter.skills = {}" :disabled="Object.keys(filter.skills).length <= 0">Clear</button>
        </p>

        <br>

        <p class="title is-4">Don't know where to start? <strong>We can help <a href="https://calendly.com/dddrew/talk" target="_blank"><span class="icon is-small"><i class="fas fa-calendar-plus"></i></span> Click here to schedule a free consultation.</a></strong></p>

        <div class="field is-grouped is-grouped-multiline is-large" v-if="showTags">
          <div class="control" v-for="skill in filteredSkills.others">
            <a class="tags has-addons" @click="toggleFilter('skills', skill )">
              <div class="tag" :class="{ 'is-primary': skill.slug in filter.skills }">(( skill.label ))</div>
              <div class="tag is-info" v-if="skill.count > 1">(( skill.count ))</div>
            </a>
          </div>
        </div>

        <div class="directory" v-if="people">
          <div class="card person" v-for="(person, index) in people" v-show="person.filtered()">
            <div class="card-content">
              <div class="content">
                <p class="title is-4">(( person.name ))</p>
                <p class="subtitle is-6 has-text-weight-bold">
                  (( person.trade ))
                </p>
                <div class="connect">
                  <template v-if="person.primarySite()">
                    <a :href="person.primarySite().url" target="_blank"><span class="icon"><i :class="person.primarySite().icon"></i></span> (( person.primarySite().label ))</a>
                  </template>
                </div>
                <p class="person__location" v-if="person.location"><label>Location</label> (( person.location ))</p>
                <p v-if="person.cosmic"><label>Cosmic Task</label><br> (( person.cosmic ))</p>
                <template v-if="person.skills">
                  <p><label>Skills</label></p>
                  <div class="skills tags">
                    <span class="tag"
                          :class="{ 'is-primary': skill.slug in filter.skills }"
                          :data-skill="skill.slug"
                          v-for="(skill, index) in person.skills"
                          @click="toggleFilter('skills', skill )">(( skill.label ))</span>
                  </div>
                </template>
              </div>
            </div>
            <website-links :links="person.links"></website-links>
          </div>
        </div>
      </div>
    </section>
