body {
  margin: 0 $leading 4em;
  @media screen and (max-width: 900px) {
    margin: 0 ($leading / 2) 4em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6, p {
  max-width: 65ch;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: $leading;
  @media screen and (max-width: 900px) {
    padding-left: .5rem;
  }
}
