@import "variables";
@import "normalize";
@import "typebase";
@import "base";
@import "buttons";
@import "forms";

.callout {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  padding-bottom: $leading;
  margin-top: $leading;
  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}

.note {
  @extend small;
  font-style: italic;
  line-height: 1.5;
  opacity: 0.7;
}

.websites,
.books,
.tools,
.promos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: $leading;
  margin-top: $leading;
  @media screen and (max-width: $break-small) {
    grid-template-columns: auto;
  }
}

.websites {
  padding-left: 1.5em;
  @media screen and (max-width: $break-small) {
    padding-left: .5em;
  }
}

.site {
  font-size: 0.8em;

  a {
    font-family: $font-mono;
    font-size: 1.25em;
    word-break: break-all;
  }

  p:first-child {
    margin-top: 0;
  }
}

.book {
  .cover {
    float: left;
    margin: 0 .5em 0 0;
    img {
      width: 100%;
      box-shadow: 1px 1px 0 #eee, 3px 3px 0 #eee, 4px 4px 0 #CCC;
    }
  }
  p {
    margin-top: 0;
  }
}

.tools {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  @media screen and (max-width: $break-small) {
    grid-template-columns: auto;
  }
}

.tags {
  .tag {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .6rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin-bottom: .5rem;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

}

.promos {
  padding-left: 0;
  .promo {
    background-color: #f5f5f5;
    padding: $leading;
    .title {
      text-align: center;
    }
    input {
      background-color: #fff;
      text-align: center;
    }
  }
}
