@import "variables";
@import "normalize";
@import "typebase";
@import "base";
@import "buttons";
@import "forms";

.announcement {
  font-size: .75rem;
  padding: .5em 0;
  .title {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}

.event {
  border-left: 4px solid $color-secondary;
  padding-left: $leading;
}
